.inset-1{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.z-1{
    z-index: 10;
}

.modal.right .modal-dialog {
    position:fixed;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    transform: translate3d(0%, 0, 0);
  }
  
  .modal.right .modal-content {
    height: 100%;
    overflow-y:auto;
  }
  .modal {
    &-content {
      border-radius: 0;
      border: none;
    }
    &-header {
      border-bottom: none;
    }
    &-body{
      .card{
        max-width: 540px;
      }
    }
    &-footer {
      border-top: none;
    }
  }
