.progress-1{
    position: relative;

    &::after{
        content: '';
        position: absolute;
        top: 4px;
        left: 0;
        right: 0;
        width: 100%;
        border-top: 2px solid #E31277;
        z-index: -10;  
    }
    li{
        position: relative; 
        padding-top: 10px;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 8px;
            height: 8px;
            background: #ffffff;
            border: 1px solid  #E31277;
            border-radius: 50%;
            z-index: -5;
        }
    }
    .progress-1-active{
        &::after{
            background:#E31277;
        }
    }
    
}

