.inset-1{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.z-10{
    z-index: 10;
}
.object-fit-cover{
    object-fit: cover;
}
.secondary-hover:hover{
    border-bottom: 2px solid  #E31277;
    transition:.2s;
}
.active{
    border-bottom: 2px solid  #E31277;
}

.py-44{
    padding-top: 12px;
    padding-bottom: 44px;
}
.py-52{
    padding-top: 52px;
    padding-bottom: 52px;
}
.w-40{
    width: 48%;
}
.h-256{
    height: 256px;
}
.h-800{
    height: 800px;
}
.mt-44{
    margin-top: 44px;
}
.mt-40{
    margin-top: 40px;
}

.order-wrap{
    min-height: 680px;
}